* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col {
    padding-left: 0;
    padding-right: 0;
}

.nav {
    height: 50px;
    background-color: rgb(30, 130, 224);
}

/* Google map */
.tracker-map {
    height: 400px;
}

#map {
    height: 100%;
    width: 100%;
}

.info-window {
    min-width: 150px;
    max-width: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.info-flag {
    border-radius: inherit;
    overflow: hidden;
    border: 0.5px solid rgb(0,0,0,.1);
    margin-bottom: 4px;
}

.info-window-data p {
    margin-bottom: 4px;
}

.info-window-data span {
    font-weight: 600;
}

/* SearchBar */
.search-bar {
    margin: 0 auto;
    width: 50%;
    transform: translateY(-20px);
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 8px 6px -6px #a39d9d;
    min-width: 300px;
    border: 1px solid rgb(0,0,0,.1);
}

.search-bar input {
    width: 80%;
    border: none;
    font-size: 20px;
    padding-top: 0;
}

.search-bar input:focus {
    box-shadow: none;
}

.search-bar i {
    color: rgb(70 66 66 / 86%);
    font-size: 20px;
    padding-left: 20px;
    cursor: pointer;
}


/* All info data */
.covid-info {
    height: 700px;
}

.info-table , .data-chart, .short-hand-info {
    padding: 20px 10px;
    border: 1px solid #dbd5d5;
    border-radius: 10px;
    /* width: 800px; */
    margin: 0 auto;
    max-width: 70%;
    min-width: 300px;
    position: relative;
    margin-bottom: 20px;
}

/* country base or worldwide info */
.short-hand-info h5 {
    margin-bottom: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info p {
    margin-bottom: 4px;
}

.sh-header, .sh-yesterday {
    font-size: 12px;
}

.sh-cases {
    font-size: 26px;
    font-weight: 600;
}

.border {
    border-right: 0.5px solid rgb(0, 0, 0, 0.1);
    margin: 4px;
}

.last-increases-cases {
    color: #af2020;
}

.last-increases-recovered {
    color: green;
}

.last-increases-deaths {
    color: red;
}

@media only screen and (max-width: 600px) {
    .sh-cases {
        font-size: 16px;
        font-weight: 600;
    }
}

/* info table */
.info-table h4 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

.table-overflow {
    width: 100%;
    overflow: auto;
}

.table {
    min-width: 500px;
    table-layout: fixed;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

thead {
    width: calc( 100% - 1em )
}

th {
    font-size: 12px;
}

tbody {
    display: block;
    height: 300px;
    overflow-y: scroll;
}

.info-source {
    font-size: 12px;
    line-height: 2;
}

.info-source > :first-child {
    padding-top: 10px;
    margin-bottom: 0;
}

/* info chart */
.data-chart-header {
    margin-bottom: 30px;
}

.data-chart-header p {
    font-size: 14px;
}


#myChart {
    min-height: 200px;
}

.canvasjs-chart-credit {
    display: none;
}
